*{
    margin: 0;
    padding: 0;
    background-color: darkgray;
}
.container{
    background-color: blueviolet;
    display: flex;

}
.card{
    border: 2px solid navy;
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 30px;
}
.card img {
    width: 100%;
}
.btn{
    margin-top: 40px;
    color: antiquewhite;
    background-color: brown;
    padding: 1px;
    text-decoration: none;
    font-size:30px ;
    font-weight: 600;
    border-radius:20px ;


}